Repository hmcts/vh-infra-core: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

azure-pipelines.infra-core.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

azure-pipelines.wowza.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

add
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.wowza.yaml

Correct gorups
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

add
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.wowza.yaml

add
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
Due: azure-pipelines.wowza.yaml

add
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/splunk.tfvars
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.wowza.yaml

amend redirect URI's
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/inputs.tf
Due: azure-pipelines.infra-core.yaml

add urls for staging, dev
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

test
  azure-pipelines.infra-core.yaml
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

test
  azure-pipelines.infra-core.yaml
Due: none

add tostring
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

convert redirect uri's to string after flattening
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

test
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

toString
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Remove output
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Correct formatting
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

change to concat
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

test
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

test null
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

VIH-9244 - Add Wowza Creds to Dynatrace
  config/pipeline/vars/wowza/prod.yaml
  config/pipeline/vars/wowza/stg.yaml
  pipeline-steps/az-dynatrace-credentials.yaml
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Add staging details to dev
  config/pipeline/vars/wowza/dev.yaml
Due: none

test
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

Add feature branch
  azure-pipelines.wowza.yaml
Due: none

add optional claims
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

update app reg
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

update API permissions
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

Path conditions:
  azure-pipelines.infra-core.yaml: any of: terraform/09-video-hearing-core
  azure-pipelines.wowza.yaml: any of: terraform/10-video-hearing-wowza
