Repository hmcts/vh-infra-core: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

azure-pipelines.infra-core.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

azure-pipelines.wowza.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

VIH-8972 - Add Wowza Rest endpoints
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

Add Web Jobs Storage Account Connection String
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

VIH-9148 - Add Route Table
  config/terraform/application/vars/10-video-hearing-wowza/dev.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/prod.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/sbox.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/stg.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/test.tfvars
  terraform/10-video-hearing-wowza/10-inputs-required.tf
  terraform/10-video-hearing-wowza/20-main.tf
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_routing.tf
Due: azure-pipelines.wowza.yaml

VIH-9148 - correct to stg
  terraform/10-video-hearing-wowza/modules/wowza/_providers.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_routing.tf
Due: azure-pipelines.wowza.yaml

Add vh-scheduler-jobs group
  pipeline-steps/ado-vars.yaml
Due: none

Add prod route
  terraform/10-video-hearing-wowza/modules/wowza/_providers.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_routing.tf
Due: azure-pipelines.wowza.yaml

VIH-9209 - correct private link dns a record names
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

Added MediaWriterFileMover to Application.xml
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

add keda MI to Service Bus
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

add keda mi
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

VIH-9148 - change open prefix to AKS specific
  config/terraform/application/vars/10-video-hearing-wowza/dev.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/sbox.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/test.tfvars
  terraform/10-video-hearing-wowza/modules/wowza/network_routing.tf
Due: azure-pipelines.wowza.yaml

VIH-9148 - Add public Wowza Endpoints
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
Due: azure-pipelines.wowza.yaml

Added permissions to files created in cloudconfig
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

Remove one set of permissions
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

change to a comment
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

VIH-9148 - Add missing routing
  config/terraform/application/vars/10-video-hearing-wowza/demo.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/ithc.tfvars
  terraform/10-video-hearing-wowza/modules/wowza/network_routing.tf
Due: azure-pipelines.wowza.yaml

Change destiation on nsg to vnet
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_routing.tf
Due: azure-pipelines.wowza.yaml

add
  terraform/09-video-hearing-core/modules/AppReg/main.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

add mi for KEDA
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

keda mi
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

update keda mi
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

add
  terraform/10-video-hearing-wowza/modules/wowza/_data_sources.tf
Due: azure-pipelines.wowza.yaml

add
  terraform/10-video-hearing-wowza/modules/wowza/_data_sources.tf
  terraform/10-video-hearing-wowza/modules/wowza/_providers.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.wowza.yaml

VIH-9236 - Change App Regs from Web to SPA
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

VIH-9236 - Change App Regs from Web to SPA
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

VIH-9236 - Change App Regs from Web to SPA
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

VIH-9236 - Add missing variables for wowza
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

add support for notification v2
  pipeline-steps/ado-vars-to-tf.yaml
Due: none

add
  pipeline-steps/terraform-plan.yaml
  terraform/10-video-hearing-wowza/modules/wowza/_providers.tf
Due: azure-pipelines.wowza.yaml

VIH-9236 - Add common group
  pipeline-steps/ado-vars.yaml
Due: none

add Ejud vars
  pipeline-steps/ado-vars.yaml
Due: none

add
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.wowza.yaml

VIH-9236 - Add API scopes
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/modules/AppReg/inputs.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Test scope output
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Test scope output
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

Path conditions:
  azure-pipelines.infra-core.yaml: any of: terraform/09-video-hearing-core
  azure-pipelines.wowza.yaml: any of: terraform/10-video-hearing-wowza
