Repository hmcts/vh-infra-core: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

azure-pipelines.infra-core.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

azure-pipelines.wowza.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

update cloud config
  pipeline-steps/az-ext-dynatrace-api.yaml
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

update nsg rule for now
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
Due: azure-pipelines.wowza.yaml

update nsg rule destination
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
Due: azure-pipelines.wowza.yaml

Lock rules down
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
Due: azure-pipelines.wowza.yaml

fmt
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
Due: azure-pipelines.wowza.yaml

correct port range
  pipeline-steps/terraform-plan-apply.yaml
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
Due: azure-pipelines.wowza.yaml

Add Storage Account Secrets and update to module
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

Add wowza approval
  azure-pipelines.wowza.yaml
  pipeline-steps/terraform-plan.yaml
Due: none

Add variable group references for all pipelines
  pipeline-steps/ado-vars.yaml
Due: none

Remove comments
  pipeline-steps/ado-vars.yaml
Due: none

Add wowza approval
  azure-pipelines.wowza.yaml
  pipeline-steps/terraform-plan.yaml
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

revert TF
  pipeline-steps/terraform-plan.yaml
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

Correct domain name for wowza
  terraform/10-video-hearing-wowza/modules/wowza/network_vnet_link.tf
Due: azure-pipelines.wowza.yaml

update groups added and fix secret names
  pipeline-steps/ado-vars.yaml
  terraform/09-video-hearing-core/modules/KeyVaults/Secrets/main.tf
Due: azure-pipelines.infra-core.yaml

update key for secrets
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/21-cvp.tf
  terraform/09-video-hearing-core/modules/KeyVaults/Secrets/main.tf
  terraform/09-video-hearing-core/modules/KeyVaults/Secrets/variables.tf
  terraform/09-video-hearing-core/modules/VHDataServices/inputs.tf
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

update key for secrets
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/modules/VHDataServices/inputs.tf
Due: azure-pipelines.infra-core.yaml

Correct dynatrace setting and exclude to only stg/prod
  config/pipeline/vars/wowza/prod.yaml
  config/pipeline/vars/wowza/stg.yaml
  pipeline-steps/az-ext-dynatrace-api.yaml
Due: none

Only run on infra core
  pipeline-steps/terraform-plan-apply.yaml
Due: none

update tags
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

correct module name
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

add var
  pipeline-steps/terraform-plan-apply.yaml
Due: none

only run extensions on wowza
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Update app reg expiry
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

amend main.tf app reg
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

amend staging URL's
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

amend staging URL's
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

test foreach
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

revert changes to app_conf
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

test replacement in Dev
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

add if else statement for URL's
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Add Test for Core and add dependencies
  azure-pipelines.infra-core.yaml
  azure-pipelines.wowza.yaml
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Add Test for Core and add dependencies
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Add test vars
  config/pipeline/vars/vh/test.yaml
  config/pipeline/vars/wowza/test.yaml
Due: none

open rules for testing
  terraform/09-video-hearing-core/modules/AppReg/main.tf
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
Due: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

extend os disk and remove additional disk
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

Remove engineers from kv permissions
  terraform/09-video-hearing-core/modules/KeyVaults/main.tf
Due: azure-pipelines.infra-core.yaml

VIH-8972 - Add Wowza Rest endpoints
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

Path conditions:
  azure-pipelines.infra-core.yaml: any of: terraform/09-video-hearing-core
  azure-pipelines.wowza.yaml: any of: terraform/10-video-hearing-wowza
