Repository hmcts/vh-infra-core: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

Path conditions:
  azure-pipelines.infra-core.yaml: any of: terraform/09-video-hearing-core
  azure-pipelines.wowza.yaml: any of: terraform/10-video-hearing-wowza

updated secrets and networking IPs Updated
  terraform/09-video-hearing-core/21-cvp.tf
  terraform/10-video-hearing-wowza/10-inputs-required.tf
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

Add OMS Agent
  pipeline-steps/az-ext-oms.yaml
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Add network watcher
  terraform/10-video-hearing-wowza/modules/wowza/network_logs.tf
Due: azure-pipelines.wowza.yaml

Correct OMS Agent Location
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Correct OMS Agent Location
  pipeline-steps/az-ext-oms.yaml
Due: none

Correct network watcher
  terraform/10-video-hearing-wowza/modules/wowza/network_logs.tf
Due: azure-pipelines.wowza.yaml

Add tags
  terraform/10-video-hearing-wowza/modules/wowza/network_logs.tf
Due: azure-pipelines.wowza.yaml

Correct naming for Log Analytics
  terraform/10-video-hearing-wowza/modules/wowza/network_logs.tf
Due: azure-pipelines.wowza.yaml

Correct naming for watcher
  terraform/10-video-hearing-wowza/modules/wowza/network_logs.tf
Due: azure-pipelines.wowza.yaml

upgrade storage account
  terraform/10-video-hearing-wowza/.terraform.lock.hcl
  terraform/10-video-hearing-wowza/modules/wowza/managed_identity.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_logs.tf
  terraform/10-video-hearing-wowza/modules/wowza/private_endpoint.tf
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
  terraform/10-video-hearing-wowza/modules/wowza/storage.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
Due: azure-pipelines.wowza.yaml

Add TF Init
  pipeline-steps/terraform-validate.yaml
Due: none

correct module path
  terraform/10-video-hearing-wowza/modules/wowza/storage.tf
Due: azure-pipelines.wowza.yaml

correct storage type
  terraform/10-video-hearing-wowza/modules/wowza/storage.tf
Due: azure-pipelines.wowza.yaml

correct env name
  config/pipeline/vars/wowza/demo.yaml
  config/pipeline/vars/wowza/dev.yaml
  config/pipeline/vars/wowza/ithc.yaml
  config/pipeline/vars/wowza/prod.yaml
  config/pipeline/vars/wowza/sbox.yaml
  config/pipeline/vars/wowza/stg.yaml
  pipeline-steps/az-ext-dynatrace-api.yaml
  pipeline-steps/az-ext-oms.yaml
Due: none

Remove private link service
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
  terraform/10-video-hearing-wowza/modules/wowza/private_endpoint.tf
  terraform/10-video-hearing-wowza/modules/wowza/private_link.tf
Due: azure-pipelines.wowza.yaml

Corrections for importing
  terraform/09-video-hearing-core/00-init.tf
  terraform/10-video-hearing-wowza/00-init.tf
  terraform/10-video-hearing-wowza/20-main.tf
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_peering_nonprod.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_peering_prod.tf
Due: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

Add Diagnostic Settings
  terraform/10-video-hearing-wowza/modules/wowza/diagnostic_settings.tf
  terraform/10-video-hearing-wowza/modules/wowza/main.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_logs.tf
Due: azure-pipelines.wowza.yaml

Add Diagnostic Settings
  terraform/10-video-hearing-wowza/modules/wowza/diagnostic_settings.tf
Due: azure-pipelines.wowza.yaml

Add SSH rule
  terraform/10-video-hearing-wowza/modules/wowza/lb-public.tf
Due: azure-pipelines.wowza.yaml

correct extension env
  pipeline-steps/az-ext-dynatrace-api.yaml
  pipeline-steps/az-ext-oms.yaml
  pipeline-steps/terraform-plan-apply.yaml
  terraform/09-video-hearing-core/00-init.tf
Due: azure-pipelines.infra-core.yaml

correct extension env
  config/pipeline/vars/wowza/common.yaml
  pipeline-steps/az-ext-oms.yaml
  pipeline-steps/terraform-plan-apply.yaml
Due: none

correct extension env
  pipeline-steps/az-ext-oms.yaml
Due: none

correct extension env
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Add vnet link to private dns
  terraform/10-video-hearing-wowza/modules/wowza/network_vnet_link.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
Due: azure-pipelines.wowza.yaml

empty push
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
Due: azure-pipelines.wowza.yaml

Add SSH whitelist for prode
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
Due: azure-pipelines.wowza.yaml

Assign cert mi to vm
  terraform/10-video-hearing-wowza/modules/wowza/managed_identity.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

update script for cert import
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

correct ips into a csv
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
Due: azure-pipelines.wowza.yaml

remove tls setting
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

Add VPN Peering
  terraform/10-video-hearing-wowza/cloudconfig.tpl
  terraform/10-video-hearing-wowza/modules/wowza/_providers.tf
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_peering_vpn.tf
Due: azure-pipelines.wowza.yaml

update config
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml
