Repository hmcts/vh-infra-core: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

Path conditions:
  azure-pipelines.infra-core.yaml: any of: terraform/09-video-hearing-core
  azure-pipelines.wowza.yaml: any of: terraform/10-video-hearing-wowza

update API perms
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

add api perms
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

remove groups
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

add app roles back
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

update Judge
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

update Permissions
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

Test
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Test
  pipeline-steps/az-dynatrace-credentials.yaml
Due: none

change template
  pipeline-steps/az-dynatrace-credentials.yaml
Due: none

corect vars
  pipeline-steps/terraform-plan-apply.yaml
Due: none

correct vars
  pipeline-steps/terraform-plan-apply.yaml
Due: none

print
  pipeline-steps/az-dynatrace-credentials.yaml
Due: none

remove test params
  config/pipeline/vars/wowza/dev.yaml
  pipeline-steps/az-dynatrace-credentials.yaml
  pipeline-steps/terraform-plan-apply.yaml
Due: none

revert feature branch
  azure-pipelines.wowza.yaml
Due: none

Update taggin of application
  pipeline-steps/az-ext-dynatrace-api.yaml
  pipeline-steps/az-ext-oms.yaml
  pipeline-steps/check-state.yaml
Due: none

Remove non required resources
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

remove reference
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

commit changes
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.wowza.yaml

amend WOWZA
  terraform/10-video-hearing-wowza/cloudconfig.tpl
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

change wowza version
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

create cron
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

add cron task
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

amend cloud init file
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

rm diag settings
  terraform/10-video-hearing-wowza/modules/wowza/diagnostic_settings.tf
Due: azure-pipelines.wowza.yaml

edit cloud init
  terraform/09-video-hearing-core/00-init.tf
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

amend azurerm version due to bug
  terraform/10-video-hearing-wowza/00-init.tf
  terraform/10-video-hearing-wowza/modules/wowza/_versions.tf
Due: azure-pipelines.wowza.yaml

amend cloudconfig
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

amend cloud init
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

set mount to run as root
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

remove data disk
  terraform/10-video-hearing-wowza/modules/wowza/diagnostic_settings.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

remove managed disk
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

add dynatrace tenant variable
  config/terraform/application/vars/10-video-hearing-wowza/demo.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/dev.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/ithc.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/prod.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/sbox.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/stg.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/test.tfvars
  terraform/10-video-hearing-wowza/10-inputs-required.tf
  terraform/10-video-hearing-wowza/20-main.tf
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

amend formatting
  terraform/10-video-hearing-wowza/20-main.tf
Due: azure-pipelines.wowza.yaml

add locatio to nsg flow logs
  terraform/10-video-hearing-wowza/modules/wowza/network_logs.tf
Due: azure-pipelines.wowza.yaml

amend Video Web Roles
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

amend Judge App role
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

amend API Permissions
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

amend API perms
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml
