Repository hmcts/vh-infra-core: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

azure-pipelines.infra-core.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

azure-pipelines.wowza.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

Test scope output
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

correct loop
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Remove Test parts
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

change stg to staging
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

add
  terraform/10-video-hearing-wowza/modules/wowza/_data_sources.tf
  terraform/10-video-hearing-wowza/modules/wowza/_providers.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.wowza.yaml

VIH-9236 - Add scope for Video Web
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

add
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

add
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Add missing files and content
  pipeline-steps/terraform-plan.yaml
  terraform/10-video-hearing-wowza/modules/wowza/_providers.tf
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

Add missing files and content
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.wowza.yaml

add
  terraform/10-video-hearing-wowza/modules/wowza/_data_sources.tf
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

add
  terraform/10-video-hearing-wowza/modules/wowza/vm_splunk_extension.tf
Due: azure-pipelines.wowza.yaml

terraform plan
  pipeline-steps/terraform-plan.yaml
Due: none

test
  terraform/09-video-hearing-core/00-init.tf
Due: azure-pipelines.infra-core.yaml

check
  terraform/09-video-hearing-core/00-init.tf
Due: azure-pipelines.infra-core.yaml

VIH-9236 - Correct API Version
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Correct API Version
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

VIH-9236 - Update Group
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

VIH-9236 - correct var
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

VIH-9236 - correct group IDs
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

VIH-9236 - correct app settings
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Update id token
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

names
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

Assign Roles
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Assign to Groups
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Change to Data source
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Add app role
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Correct gorups
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

Correct gorups
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

Path conditions:
  azure-pipelines.infra-core.yaml: any of: terraform/09-video-hearing-core
  azure-pipelines.wowza.yaml: any of: terraform/10-video-hearing-wowza
