Repository hmcts/vh-infra-core: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

azure-pipelines.infra-core.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

azure-pipelines.wowza.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Terraform_Code
    displayName: Validate Terraform Code
    jobs:
    - job: Validate_Terraform_Code
      displayName: Validate Terraform Code
      steps:
      - template: pipeline-steps/terraform-validate.yaml
        parameters:
  ...

amend API permissions
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

VIH-9293 - Add Schedule Jobs Host Key
  terraform/09-video-hearing-core/modules/KeyVaults/main.tf
Due: azure-pipelines.infra-core.yaml

Added DTS SDS Devs group policy to vh-infra-core
  terraform/09-video-hearing-core/modules/KeyVaults/main.tf
Due: azure-pipelines.infra-core.yaml

make generic MI to follow PlatOps process
  terraform/09-video-hearing-core/modules/KeyVaults/main.tf
  terraform/09-video-hearing-core/modules/KeyVaults/outputs.tf
Due: azure-pipelines.infra-core.yaml

amend wowza MI
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

amend mi name
  terraform/09-video-hearing-core/modules/KeyVaults/main.tf
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

add data block for MI
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

add storage blob contributor for new MI
  terraform/10-video-hearing-wowza/modules/wowza/managed_identity.tf
Due: azure-pipelines.wowza.yaml

amend KV module, move MI
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/modules/KeyVaults/inputs.tf
  terraform/09-video-hearing-core/modules/KeyVaults/main.tf
  terraform/09-video-hearing-core/modules/KeyVaults/outputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/managed_identity.tf
Due: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

amend typo to var type
  terraform/09-video-hearing-core/modules/KeyVaults/inputs.tf
Due: azure-pipelines.infra-core.yaml

check fmt
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

remove service endpoint from SQL Server
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

add support for vh-infra-core secrets
  pipeline-steps/ado-vars-to-tf.yaml
  pipeline-steps/ado-vars.yaml
  terraform/10-video-hearing-wowza/20-main.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
Due: azure-pipelines.wowza.yaml

amend script
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

amend script
  pipeline-steps/ado-vars-to-tf.yaml
Due: none

add VH infra core support
  pipeline-steps/ado-vars-to-tf.yaml
  pipeline-steps/ado-vars.yaml
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

remove CI for testing
  azure-pipelines.infra-core.yaml
  pipeline-steps/ado-vars-to-tf.yaml
Due: none

re-add CI
  azure-pipelines.infra-core.yaml
Due: none

amend Pipeline logic
  azure-pipelines.infra-core.yaml
  azure-pipelines.wowza.yaml
  pipeline-steps/ado-vars.yaml
Due: none

test pipeline
  terraform/09-video-hearing-core/21-cvp.tf
Due: azure-pipelines.infra-core.yaml

test terraform code
  azure-pipelines.infra-core.yaml
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

add dynatrace token
  terraform/10-video-hearing-wowza/20-main.tf
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
Due: azure-pipelines.wowza.yaml

amend Wowza VM Config
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_networking.tf
Due: azure-pipelines.wowza.yaml

change diag settings
  terraform/10-video-hearing-wowza/modules/wowza/diagnostic_settings.tf
Due: azure-pipelines.wowza.yaml

remove exlcusions
  azure-pipelines.infra-core.yaml
  azure-pipelines.wowza.yaml
Due: none

Added template and variables
  terraform/09-video-hearing-core/modules/SignalR/main.tf
  terraform/09-video-hearing-core/modules/SignalR/signalr-template.json
  terraform/09-video-hearing-core/modules/SignalR/variables.tf
Due: azure-pipelines.infra-core.yaml

amend errors
  config/terraform/application/vars/10-video-hearing-wowza/demo.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/dev.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/ithc.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/prod.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/sbox.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/test.tfvars
  terraform/10-video-hearing-wowza/10-inputs-required.tf
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

amend Pipeline VM names
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Fixed spelling
  terraform/09-video-hearing-core/modules/SignalR/signalr-template.json
Due: azure-pipelines.infra-core.yaml

Changed to AzPI provider
  terraform/09-video-hearing-core/modules/SignalR/main.tf
  terraform/09-video-hearing-core/modules/SignalR/signalr-template.json
Due: azure-pipelines.infra-core.yaml

Added code for kv, mi, AzAPI, vars, locals, data
  terraform/09-video-hearing-core/00-init.tf
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/modules/SignalR/inputs.tf
  terraform/09-video-hearing-core/modules/SignalR/main.tf
  terraform/09-video-hearing-core/modules/SignalR/variables.tf
Due: azure-pipelines.infra-core.yaml

Fix AzApi provider
  terraform/09-video-hearing-core/00-init.tf
Due: azure-pipelines.infra-core.yaml

Changed back to Azure
  terraform/09-video-hearing-core/00-init.tf
Due: azure-pipelines.infra-core.yaml

Moved AzAPI provider
  terraform/09-video-hearing-core/00-init.tf
  terraform/09-video-hearing-core/modules/SignalR/main.tf
Due: azure-pipelines.infra-core.yaml

Added terraform block
  terraform/09-video-hearing-core/modules/SignalR/main.tf
Due: azure-pipelines.infra-core.yaml

Fix provider in signalr module
  terraform/09-video-hearing-core/modules/SignalR/inputs.tf
  terraform/09-video-hearing-core/modules/SignalR/main.tf
Due: azure-pipelines.infra-core.yaml

amend azapi
  terraform/09-video-hearing-core/00-init.tf
  terraform/09-video-hearing-core/modules/SignalR/inputs.tf
Due: azure-pipelines.infra-core.yaml

upgrade AzApi
  terraform/09-video-hearing-core/00-init.tf
  terraform/09-video-hearing-core/modules/SignalR/inputs.tf
Due: azure-pipelines.infra-core.yaml

update azapi
  terraform/09-video-hearing-core/00-init.tf
Due: azure-pipelines.infra-core.yaml

format code
  terraform/09-video-hearing-core/00-init.tf
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

Path conditions:
  azure-pipelines.infra-core.yaml: any of: terraform/09-video-hearing-core
  azure-pipelines.wowza.yaml: any of: terraform/10-video-hearing-wowza
