Repository hmcts/vh-infra-core: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

Path conditions:
  azure-pipelines.infra-core.yaml: any of: terraform/09-video-hearing-core
  azure-pipelines.wowza.yaml: any of: terraform/10-video-hearing-wowza

Correct extension service connection
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Correct activity filter on extension
  pipeline-steps/terraform-plan-apply.yaml
Due: none

add callback secret
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

amend secret name to match app settings
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

downgrade provider
  terraform/09-video-hearing-core/00-init.tf
Due: azure-pipelines.infra-core.yaml

update PR triggers
  azure-pipelines.infra-core.yaml
  azure-pipelines.wowza.yaml
Due: none

downgrade azure ad provider
  terraform/09-video-hearing-core/00-init.tf
Due: azure-pipelines.infra-core.yaml

downgrade azure ad provider
  terraform/09-video-hearing-core/modules/AppReg/init.tf
Due: azure-pipelines.infra-core.yaml

amend owner in app reg
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

upgrade providers, add owner to service principal
  terraform/09-video-hearing-core/00-init.tf
  terraform/09-video-hearing-core/modules/AppReg/init.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

DB Access update for SDP
  pipeline-steps/terraform-plan-apply.yaml
Due: none

remove values from infra core
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/20-main.tf
  terraform/10-video-hearing-wowza/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

update terraform formatting
  terraform/09-video-hearing-core/10-inputs-required.tf
Due: azure-pipelines.infra-core.yaml

write secrets to host
  pipeline-steps/ado-vars-to-tf.yaml
Due: none

remove write host
  pipeline-steps/ado-vars-to-tf.yaml
Due: none

update terraform plan
  pipeline-steps/terraform-plan-apply.yaml
Due: none

VIH-9999 - update fmting
  terraform/10-video-hearing-wowza/10-inputs-required.tf
Due: azure-pipelines.wowza.yaml

VIH-8972 - Add CVP Secrets
  terraform/09-video-hearing-core/00-init.tf
  terraform/09-video-hearing-core/10-inputs-required.tf
  terraform/09-video-hearing-core/11-inputs-default.tf
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/21-cvp.tf
  terraform/09-video-hearing-core/modules/AppReg/main.tf
Due: azure-pipelines.infra-core.yaml

VIH-8972 - Add CVP Secrets
  pipeline-steps/terraform-plan.yaml
  terraform/10-video-hearing-wowza/20-main.tf
Due: azure-pipelines.wowza.yaml

correct syntax
  pipeline-steps/terraform-plan.yaml
Due: none

correct mi assignment
  terraform/10-video-hearing-wowza/10-inputs-required.tf
  terraform/10-video-hearing-wowza/20-main.tf
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

correct mi id
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

Add Wowza Secrets
  terraform/10-video-hearing-wowza/modules/wowza/managed_identity.tf
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
  terraform/10-video-hearing-wowza/modules/wowza/storage.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_automation.tf
Due: azure-pipelines.wowza.yaml

Add lease break
  azure-pipelines.infra-core.yaml
  azure-pipelines.wowza.yaml
  pipeline-steps/terraform-apply.yaml
  pipeline-steps/terraform-plan.yaml
Due: none

remove env from secret
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

remove requirement for module
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

Add Kinly Vars
  azure-pipelines.yaml
  pipeline-steps/ado-vars.yaml
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Add https instead of http
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

fix formatting
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

add test api database
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

Add ssh key
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

change template branch
  azure-pipelines.infra-core.yaml
  azure-pipelines.wowza.yaml
Due: none

VIH-8700 - Generate SSH in TF and import into KV
  azure-pipelines-nightly.yaml
  azure-pipelines.yaml
  config/terraform/application/vars/10-video-hearing-wowza/demo.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/dev.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/ithc.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/prod.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/sbox.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/stg.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/test.tfvars
  pipeline-steps/sshkey-download.yaml
  pipeline-steps/terraform-plan-apply.yaml
  terraform/10-video-hearing-wowza/10-inputs-required.tf
  terraform/10-video-hearing-wowza/20-main.tf
  terraform/10-video-hearing-wowza/modules/wowza/_inputs.tf
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
Due: azure-pipelines.wowza.yaml

fmt
  config/terraform/application/vars/10-video-hearing-wowza/demo.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/dev.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/ithc.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/prod.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/sbox.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/stg.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/test.tfvars
  terraform/10-video-hearing-wowza/modules/wowza/secrets.tf
  terraform/10-video-hearing-wowza/modules/wowza/vm_base.tf
Due: azure-pipelines.wowza.yaml

update database name
  terraform/09-video-hearing-core/modules/VHDataServices/outputs.tf
Due: azure-pipelines.infra-core.yaml

rename database
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/modules/VHDataServices/outputs.tf
Due: azure-pipelines.infra-core.yaml

amend db name
  terraform/09-video-hearing-core/20-main.tf
  terraform/09-video-hearing-core/modules/VHDataServices/outputs.tf
Due: azure-pipelines.infra-core.yaml

Correct peering destinations
  terraform/10-video-hearing-wowza/00-init.tf
  terraform/10-video-hearing-wowza/modules/wowza/_providers.tf
  terraform/10-video-hearing-wowza/modules/wowza/network.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_peering_nonprod.tf
  terraform/10-video-hearing-wowza/modules/wowza/network_peering_prod.tf
Due: azure-pipelines.wowza.yaml

Correct peering destinations
  config/terraform/application/vars/10-video-hearing-wowza/demo.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/dev.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/ithc.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/prod.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/sbox.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/stg.tfvars
  config/terraform/application/vars/10-video-hearing-wowza/test.tfvars
  terraform/09-video-hearing-core/modules/KeyVaults/main.tf
Due: azure-pipelines.infra-core.yaml
