Repository hmcts/vh-infra-core: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.infra-core.yaml, azure-pipelines.wowza.yaml

Path conditions:
  azure-pipelines.infra-core.yaml: any of: terraform/09-video-hearing-core
  azure-pipelines.wowza.yaml: any of: terraform/10-video-hearing-wowza

Add debug
  azure-pipelines.infra-core.yaml
Due: none

Add user access test
  azure-pipelines.infra-core.yaml
Due: none

Add new settings
  azure-pipelines.infra-core.yaml
Due: none

Change admin to current runner
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

Add ad group access
  azure-pipelines.infra-core.yaml
Due: none

removed Sbox from options
  azure-pipelines.wowza.yaml
Due: none

Remove Sbox option in wowza pipeline
  azure-pipelines.wowza.yaml
Due: none

Add role assignment, add sql access
  azure-pipelines.infra-core.yaml
  pipeline-steps/sql-access.yaml
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

remove parameter
  azure-pipelines.infra-core.yaml
Due: none

move steps
  azure-pipelines.infra-core.yaml
  pipeline-steps/terraform-plan-apply.yaml
Due: none

correct syntax
  pipeline-steps/terraform-plan-apply.yaml
Due: none

correct syntax
  pipeline-steps/sql-access.yaml
Due: none

update RM provider and correct format
  terraform/09-video-hearing-core/00-init.tf
  terraform/09-video-hearing-core/modules/KeyVaults/main.tf
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

Correct ID format
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

Correct role name
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

Provider upgrade, update role assignment
  terraform/09-video-hearing-core/00-init.tf
  terraform/09-video-hearing-core/modules/AppReg/init.tf
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

update template branch
  azure-pipelines.infra-core.yaml
Due: none

remove role assignement
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

Assign MI to directory reader group
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

Only assign write permissions to lower environments
  pipeline-steps/terraform-plan-apply.yaml
Due: none

correct id type
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

correct resource type
  pipeline-steps/terraform-plan.yaml
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

update primary ids
  terraform/09-video-hearing-core/modules/VHDataServices/main.tf
Due: azure-pipelines.infra-core.yaml

correct connection stirng name
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

swap demo for test
  pipeline-steps/terraform-plan-apply.yaml
Due: none

Added TLSv1.2 to rest api in wowza
  terraform/10-video-hearing-wowza/cloudconfig.tpl
Due: azure-pipelines.wowza.yaml

Add unlock task
  pipeline-steps/terraform-plan-apply.yaml
Due: none

change Pipeline Logic
  azure-pipelines.infra-core.yaml
  azure-pipelines.wowza.yaml
Due: none

add placeholder secrets to test
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

update secret value
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

add correct formatting
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml

remove duplicates
  terraform/09-video-hearing-core/20-main.tf
Due: azure-pipelines.infra-core.yaml
